In [11]:
import os
os.getcwd()

'C:\\Projects\\keras_talk'

In [27]:
x = 25
s = bytes(bytearray([x]))
s

b'\x19'

In [30]:
import dbm

In [37]:
def ex2():
    db =dbm.open('mydbm2','c')
    db["kr"] = "Korea"
    db["us"] = "USA"
    db["jp"] = "Japan"
    db["de"] = "Germany"
    db["hu"] = "Hungary"
    
    
    for i in db.keys():
        if(i in db[i].lower()):
            print(i , db[i])

In [38]:
ex2()

b'us' b'USA'
b'hu' b'Hungary'

In [36]:
file = open("lab14.txt",'rt')
contents = file.read()

In [35]:
contents.split("\n")[:-1]

['19',
 '38 57',
 '13 32 51',
 '7 26 45 1',
 '20 39 58 14 33',
 '52 8 27 46 2 21',
 '40 59 15 34 53 9 28',
 '47 3 22 41 60 16 35 54',
 '10 29 48 4 23 42 61 17 36',
 '55 11 30 49 5 24 43 62 18 37']

In [23]:
contents

''

In [37]:
value = contents.split('\n')
value = value[:-1]

sv = []

In [2]:
print(value)

['19', '38 57', '13 32 51', '7 26 45 1', '20 39 58 14 33', '52 8 27 46 2 21', '40 59 15 34 53 9 28', '47 3 22 41 60 16 35 54', '10 29 48 4 23 42 61 17 36', '55 11 30 49 5 24 43 62 18 37', '']

In [38]:
sv.append(value[0])
for i in value[1:] :
    sv.append(i.split(" "))

In [41]:
sv

['19',
 ['38', '57'],
 ['13', '32', '51'],
 ['7', '26', '45', '1'],
 ['20', '39', '58', '14', '33'],
 ['52', '8', '27', '46', '2', '21'],
 ['40', '59', '15', '34', '53', '9', '28'],
 ['47', '3', '22', '41', '60', '16', '35', '54'],
 ['10', '29', '48', '4', '23', '42', '61', '17', '36'],
 ['55', '11', '30', '49', '5', '24', '43', '62', '18', '37']]

In [44]:
sum = int(sv[0])
index = 0
for i in sv[1:] :
    left = int(i[index])
    right = int(i[index+1])
    if(left>right):
        sum = sum + left
       
    else :
        sum = sum + right
        index = index +1
    
print(sum)

474

In [36]:
def ex3(): 

    
    m = [
    [19],
    [38, 57],
    [13, 32, 51],
    [7, 26, 45, 1],
    [20, 39, 58, 14, 33],
    [52, 8, 27, 46, 2, 21],
    [40, 59, 15, 34, 53, 9, 28],
    [47, 3, 22, 41, 60, 16, 35, 54],
    [10, 29, 48, 4, 23, 42, 61, 17, 36],
    [55, 11, 30, 49, 5, 24, 43, 62, 18, 37]
    ]     

    sum = 0
    x = 0
    for line in m:
        if len(line)==1:
            sum = sum + line[x]
        else:    
            left = line[x]
            right = line[x+1]
            if(right > left):
                sum = sum + right
                x = x+1
            else:
                sum = sum + left
    print(sum)

In [8]:
ex3()

474