# Lab 15

## 1. numpy 패키지를 임포트

In [5]:
import numpy as np

## 2. 아래 ndarray를 생성
a =
<br>
[20, 2, 15, 9]
<br><br>
b =
<br>
[[1, 10, 50, 100],
<br>
[20, 5, 30, 12]]
<br><br>
c =
<br>
[[[1,5,10,15],
<br>
[3, 6, 9, 12],
<br>
[4, 8, 12, 16]]]

In [6]:
a = np.array([20, 2, 15, 9])
b = np.array([[1, 10, 50, 100], [20, 5 , 30, 12]])
c = np.array([[[1, 5, 10, 15],[3, 6, 9, 12],[4, 8, 12, 16]]])

In [7]:
a

array([20,  2, 15,  9])

In [8]:
b

array([[  1,  10,  50, 100],
       [ 20,   5,  30,  12]])

In [9]:
c

array([[[ 1,  5, 10, 15],
        [ 3,  6,  9, 12],
        [ 4,  8, 12, 16]]])

## 3. 위에서 만든 ndarray의 ndim과 shape를 각각 출력

In [10]:
print(a.ndim)
print(a.shape)
print(b.ndim)
print(b.shape)
print(c.ndim)
print(c.shape)

1
(4,)
2
(2, 4)
3
(1, 3, 4)

2
<br>
(4, 4)
<br>
2
<br>
(2, 4)
<br>
3
<br>
(1, 3, 4)

## 4. 크기 10인 널벡터를 생성 (단, 두 번째 요소의 값은 30)

In [15]:
n = np.zeros(10)
n[1] = 30
n

array([ 0., 30.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

[ 0. 30.  0.  0.  0.  0.  0.  0.  0.  0.]

## 5. 값이 3부터 49인 벡터 생성

In [18]:
n = np.arange(3,50)
n

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36,
       37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])

[ 3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49]

## 6. 값이 0부터 15인 4x4 매트릭스 생성

In [22]:
n = np.arange(0,16)
np.reshape(n,(4,4))

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

[[ 0  1  2  3]<br>
 [ 4  5  6  7]<br>
 [ 8  9 10 11]<br>
 [12 13 14 15]]

## 7. 'titanic.csv' 파일을 읽어서 data 변수에 저장

In [74]:
data = np.loadtxt('./titanic.csv',delimiter=',',skiprows=1)

In [75]:
data[:5]

array([[ 0.    , 40.    , 27.7208,  1.    ,  0.    ,  0.    ,  1.    ,
         0.    ,  0.    ,  1.    ,  0.    ,  0.    ,  0.    ],
       [ 1.    ,  4.    , 16.7   ,  0.    ,  0.    ,  1.    ,  0.    ,
         1.    ,  0.    ,  0.    ,  1.    ,  1.    ,  1.    ],
       [ 0.    , 47.    ,  9.    ,  0.    ,  0.    ,  1.    ,  0.    ,
         1.    ,  0.    ,  1.    ,  0.    ,  0.    ,  0.    ],
       [ 0.    ,  9.    , 31.3875,  0.    ,  0.    ,  1.    ,  0.    ,
         1.    ,  0.    ,  1.    ,  0.    ,  2.    ,  4.    ],
       [ 0.    , 20.    ,  9.8458,  0.    ,  0.    ,  1.    ,  0.    ,
         1.    ,  0.    ,  1.    ,  0.    ,  0.    ,  0.    ]])

In [46]:
'''
file = open('./titanic.csv', 'r')
data = [ line[:-1].split(',') for line in file.readlines()]
data = data[1:]
data = np.array(data, dtype='float64')
print(data[:5])
'''

[[ 0.     40.     27.7208  1.      0.      0.      1.      0.      0.
   1.      0.      0.      0.    ]
 [ 1.      4.     16.7     0.      0.      1.      0.      1.      0.
   0.      1.      1.      1.    ]
 [ 0.     47.      9.      0.      0.      1.      0.      1.      0.
   1.      0.      0.      0.    ]
 [ 0.      9.     31.3875  0.      0.      1.      0.      1.      0.
   1.      0.      2.      4.    ]
 [ 0.     20.      9.8458  0.      0.      1.      0.      1.      0.
   1.      0.      0.      0.    ]]

[[  0.      40.      27.7208 ...   0.       0.       0.    ]<br>
 [  1.       4.      16.7    ...   1.       1.       1.    ]<br>
 [  0.      47.       9.     ...   0.       0.       0.    ]<br>
 ...<br>
 [  0.      71.      49.5042 ...   0.       0.       0.    ]<br>
 [  0.      28.     221.7792 ...   0.       0.       0.    ]<br>
 [  0.      28.      25.925  ...   0.       0.       0.    ]]

## 8. 사망자와 생존사의 수를 출력

In [50]:
total = data.shape[0]
print("Survivied:" , int(np.sum(data[:,0])))
print("Not Survived : " ,total-  int(np.sum(data[:,0])))

Survivied: 263
Not Survived :  449

Survived: 449<br>
Not Survived: 263

## 9. 평균 운임을 출력

In [51]:
np.mean(data[:,2])

32.28905603932584

Average Fare: 32.28905603932584

## 10. 남성의 생존 확률과 여성의 생존 확률을 출력

In [55]:
maleCount = np.sum(data[:,9])
femaleCount = np.sum(data[:,10])

253.0

In [62]:
maleSurvived =np.dot(data[:,0],data[:,9])
femaleSurvived = np.dot(data[:,0],data[:,10])

In [64]:
print("male: ", maleSurvived/maleCount)
print("male: ", femaleSurvived/femaleCount)

male:  0.1721132897603486
male:  0.7272727272727273

male: 0.17248908296943233<br>
female: 0.7272727272727273

## 11. pClass 별 생존 확률을 출력

In [69]:
PC1Count = np.sum(data[:,3])
PC2Count = np.sum(data[:,4])
PC3Count = np.sum(data[:,5])

In [70]:
PC1Survived =np.dot(data[:,0],data[:,3])
PC2Survived = np.dot(data[:,0],data[:,4])
PC3Survived = np.dot(data[:,0],data[:,5])

In [71]:
print("PC1: ", PC1Survived/PC1Count)
print("PC2: ", PC2Survived/PC2Count)
print("PC3: ", PC3Survived/PC3Count)

PC1:  0.6057142857142858
PC2:  0.4527027027027027
PC3:  0.23136246786632392

PC1: 0.6091954022988506<br>
PC2: 0.4527027027027027<br>
PC3: 0.23136246786632392