In [2]:
print ("i can't do this")

i can't do this

In [3]:
number = 1/3
string = str(number)
len(string)

18

In [4]:
number = 1.0/3
string = str(number)
len(string)

18

In [9]:
s = "Mr. Mark"
print (s.startswith("Mr"))

True

In [10]:
s = "i can't do this"
s.capitalize()

"I can't do this"

In [11]:
s.title()

"I Can'T Do This"

In [18]:
hello = "HelloWorld"
hello.isalpha()
hello.rfind("ld")

8

In [17]:
'Hello World again'.title().capitalize()

'Hello world again'

In [19]:
def clone2(astring):
    newstring = ""
    for i in range(0, len(astring)):
        newstring = newstring  + astring[i]
    print(newstring)

In [20]:
clone2("ABC")

ABC

In [2]:
import numpy as np

In [3]:
ar = np.arange(6).reshape(2,3)

In [4]:
ar

array([[0, 1, 2],
       [3, 4, 5]])

In [5]:
ar.T

array([[0, 3],
       [1, 4],
       [2, 5]])

In [6]:
ar

array([[0, 1, 2],
       [3, 4, 5]])

In [7]:
ar.swapaxes(0,1)

array([[0, 3],
       [1, 4],
       [2, 5]])

In [11]:
np.random.randn(5)

array([-0.67022104, -1.14079119, -0.02385458,  0.60458373,  1.17689717])

In [ ]:
np.max

In [2]:
import numpy as np
names = np.array(['Bob','Joe','Will','Bob','Will','Joe','Joe'])

In [4]:
data2d = np.arange(49).reshape(7,7)
data2d[names=='Bob']

array([[ 0,  1,  2,  3,  4,  5,  6],
       [21, 22, 23, 24, 25, 26, 27]])

In [5]:
data2d[:,names=='Bob']

array([[ 0,  3],
       [ 7, 10],
       [14, 17],
       [21, 24],
       [28, 31],
       [35, 38],
       [42, 45]])

In [7]:
a = np.array([1,-1,2,-2])
a[a>0].shape[0]

2

In [8]:
print("sss\b")

sss